name: "Clown House Minecraft Modpack Pipeline"
on:
  - "push"
jobs:
  build-and-notify:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - run: "ls"
      - run: "sudo apt install zip"
      - run: "echo TODO: Add zip step to create file"
      - run: "echo TODO: Add release file to GitHub"
      - run: "echo TODO: Add discord note"
      - run: "echo TODO: Update Curseforge"
