name: "Clown House Minecraft Modpack Pipeline"
on:
  - "push"
jobs:
  build-and-notify:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - name: "Set version number"
        run: "echo \"RELEASE_VERSION=${GITHUB_REF#refs/*/}\" >> $GITHUB_ENV"
      - run: "sudo apt install zip"
      - run: "zip -r release.zip ./modpack/"
      - uses: "ncipollo/release-action@v1"
        with:
          artifacts: "release.zip"
          token: "${{secrets.GITHUB_TOKEN}}"
          tag: "${{env.RELEASE_VERSION}}"
      - uses: sebastianpopp/discord-action@releases/v1
        with:
          webhook: "${{secrets.DISCORD_WEBHOOK}}"
          message: |
            A new version of the Clown Pack modpack (${env.RELEASE_VERSION}) is out!
            >>> Instructions for installation and other info can be found here: https://github.com/Overseers/minecraft-clown-house-modpack/blob/main/README.md
            Download: https://github.com/Overseers/minecraft-clown-house-modpack/releases/tag/${env.RELEASE_VERSION}
      # TODO: Add integration to CurseForge
