name: "Clown House Minecraft Modpack Pipeline"
on:
  - "push"
jobs:
  build-and-notify:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - run: "sudo apt install zip"
      - run: "rm README.md"
      - run: "ls"
      - run: "zip release.zip ../minecraft-clown-house-modpack/"
      - run: "ls"
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "release.zip"
          token: ${{secrets.GITHUB_TOKEN}}
          tag: "${{GITHUB_REF/refs\/tags\//}}"
      - uses: sebastianpopp/discord-action@releases/v1
        with:
          webhook: "${{secrets.DISCORD_WEBHOOK}}"
          message: "TEST"
      # - run: "echo TODO: Update Curseforge"
